
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargarDatos</title>
</head>
<body>
    <div> 
        <p>Los datos Ingresados fueron almacenado.</p>
        
        <p><a href="/">Retornar</a></p>
    </div>
</body>
</html>
