
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormularioPersona</title>
</head>
<body>
    <div> 
        <form action="/Home/CargarDatos" method="post">
            <p> Nombre <input type="text" name="nombre" value="" /></p>
            <p> Cedula <input type="text" name="cedula" value="" /></p>
            <p> Telefono <input type="tel" name="telefono" value="" /></p>
            <p> Correo <input type="email" name="Correo" value="" /></p>
           
            <p><input type="submit" value="Enviar" /></p>
        </form>
    </div>
</body>
</html>
