
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p><a href="/Home/FormularioPersona">Agregar una persona.</a></p>
        <p><a href="/Home/ListadoPersonas">Ver Personas</a></p>
    </div>
</body>
</html>
